*{
    margin:0;
    padding:0;
    list-style:none;
}
.main {
    width: 10rem;
    margin: 0 auto;
    overflow:hidden;
    position: relative;

}
.main .progress {
    height: 2.54rem;
    width: 100%;
    background: #f5f5f5;
    background-image: url('http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPage2_2/img/jd_03.jpg');
    background-size:100%;
}
body{
    background:#efefef;
}
svg.icon {
    fill: white;
}
.title {
    position: relative;
    width:10rem;
    width:100%;
    height:1.1733333333333333rem;
    background-image: url('https://jufengmemberimages.oss-cn-beijing.aliyuncs.com/aggregationPage/jhd/q1/questionResult/img/titleBg.jpg');
}
.contentTr{
    background:white;
    margin-bottom: 0.126rem;

}
.suggs{
    width:100%;
    height:0.7733rem;
    padding-left:0.2rem;
    font-size:0.32rem;
    color:#333333;
    line-height:0.7733rem;
}
.tr_title {
    width: 10rem;
    background-image: url('../img/tr_title.jpg');
    background-size:100%;
    margin: 0.1rem 0;
    position:relative;
}
.rest{
    background: url(http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPage2_3/img/rest.png);
    width: 1.84rem;
    height: 0.9733rem;
    position: absolute;
    right: 0.4rem;
    background-size: 100%;
    top: 1.25rem;
    z-index: 2;
}
.title span {
    font-size: 0.63333rem;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 1.1733333333333333rem;
    color: white;
}
.title i {
    left: 0.32rem;
    top: 0.2rem;
    width:0.8rem;
    height:0.8rem;
    display:block;
    float:left;
    position: absolute;
}
svg.icon {
    display: block;
}
.trInfo{
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    width: 10rem;
    overflow: hidden;
}
.cTrleft {
    width: 2rem;
    height:2.373333333333333rem;
    float:left;
}
.logoImg {
    width:1.8533333333333333rem;
    height:2.573333333333333rem;
    margin:0 auto
}
.cTrleft img {
    width: 1.8533333333333333rem;
    margin: 0 auto;
    display: block;
    margin-top: 0.2rem;
}
.cTrleft span {
    font-size: 0.4333333333333333rem;
    margin-top: 0.2rem;
    display: block;
    position: relative;
    text-align: center;
}
.cTrright {
    width: 7.9rem;
    float: left;
}
.rInfo img{
    width: 1rem;
    /* margin-top: 0.02rem; */
    position: absolute;
    top: 0;
}
.rImg{
    width: 1rem;
    height: 1rem;
    float: left;
    position: relative;
    margin-bottom: 0.2rem;
}
.Recommendation {
    font-size: 0.376666rem;
    line-height: 0.4666666666666667rem;
    width: 2.3rem;
    margin-left: 0;
    float: left;
    /* margin-top: 0.1rem; */
    padding-left: 0.2rem;
}
.tab {
    width: 4.4rem;
    font-size: 0.426666rem;
    line-height: 0.6666666666666667rem;
    /* margin-left: 0.4rem; */
    float: left;
}
.tab span {
    font-size: 0.25rem;
    display: block;
    border: 0.02rem solid #fd4605;
    color: #fd4605;
    float: left;
    margin: 0.05rem;
    padding:0.05rem;
    border-radius: 0.12rem;
    line-height: 0.45rem;
}
.star{
    font-size:0.55rem;
    letter-spacing: 0.0002rem;
}
.fontColor_Yellow{
    color:#eb7a0d;
}
.fontColor_Yellow span{
    color:#eb7a0d;
}
.trHeight{
    height: 0.4666666666666667rem;
    line-height: 0.40666666666666667rem;
    padding-top: 0.1rem;
}
.interest {
    font-size:0.30666666666666664rem;
    color: #979797;
    clear: both;
}
.expectations {
    font-size: 0.5466666666666666rem;
    color:#3daaf8;
}


.btnGroup{
    margin-top:2rem;
}
.btnDiv{
    width:90%;
    margin:0 auto;
    position:relative;
}
.contentTr_title{
    width:100%;
    text-align:center;
    height:1.1733333333333333rem;
    font-size:0.4533333333333333rem;
    color:#417fd4;
    line-height:1.19333333rem;
    border-bottom:0.02rem solid #e0e0e0;
}
.contentTr .y_checkbox[type="checkbox"] {
    -webkit-appearance: none;
    background: url('../img/suggestBg.png');
    vertical-align: middle;
    background-size: 100%;
    outline: none;
    box-shadow: none;
    margin-right: 0.12rem;
    border-radius: 0.05333333333333334rem;
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    border-radius: 100%;
    margin:0 auto;
    margin-top: -0.45rem;
    top: 50%;
    position: relative;
    border: 0;
    background-position: 0 -0.8rem;

}
.contentTr .y_checkbox[type="checkbox"]:checked {
    background:#dfdcdc url('../img/suggestBg.png');
    background-position: 0 0rem;
    outline: none;
    box-shadow: none;
    background-size: 100%;
}
.y_btn{
    margin-bottom: 0.2rem;
    background:#417fd4;
}
.agreement{
    width: 8.566666666666667rem;
    margin: 0 auto;
    margin-top: 0.37rem;
    font-size: 0.32rem;
    margin-bottom: 0.15rem;
}
.agreement a{
    color:#417fd4;
}
.agreement .y_checkbox {
    width: 0.4533333333333333rem;
    height: 0.4533333333333333rem;
    float: left;
    background: url('../img/agreement.png');
    background-size: 100%;
    border: 0;
}
.y_checkbox[type="checkbox"]{
    background-position: 0 -0.456666666666666665rem;
}
.y_checkbox[type="checkbox"]:checked {
    background-position: 0 0;
}
.t1 {
    width: 3.5rem;
    float: left;
}
.explain img{
    width:10rem;
}
div#pChose {
    margin-bottom: 0.2rem;
}
div#tChose {
    margin-bottom: 0.2rem;
}
.font_blue{
    color:#417fd4;
}

.error{
    display:none;
}
.error_bg{
    position:fixed;
    right:0;
    top:0;
    left:0;
    bottom:0;
    background:black;
    opacity:0.8;
    z-index:10;
}
.option{
    z-index: 10;
    width: 7.7rem;
    height: 4.4rem;
    position: fixed;
    top: 5rem;
    font-size: 0.48rem;
    background: url('http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPage2_3/img/errorBg.png') no-repeat;
    background-size:100%;
    padding: 0.2rem;
    left: 50%;
    margin-left: -3.85rem;
}
.suggest_border {
    border: 0rem solid #417fd4;
    height: 4.3rem;
}
.suggest {
    font-size: 0.64rem;
    text-align: center;
    color: #417fd4;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}
.suggest_content {
    margin: 0 auto;
    width: 5.2rem;
    text-align: center;
    line-height: 0.7rem;
    margin-bottom: 0.3rem;
}
.suggest_content span {
    color: #ea7208;
}

.y_border_top_dashed .y_btn {
    width: 4.36rem;
    height: 0.97rem;
    line-height: 0.97rem;
}
.iknow{
    width: 7rem;
    margin: 0 auto;
    padding-top: 0.2rem;

}
.load-3 {
    overflow: hidden;
    text-align: center;
    width: 8.566666666666667rem;
    height: 1.3rem;
    line-height: 1.3rem;
    border: 0;
    position: relative;
    top: 0.093333rem;
    font-size: 0.50333333333333335rem;
    outline: none;
    margin: 0 auto;
    border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    color: white;
    background: #8f8f8f;
    text-decoration: none;
    display:none;

}
.load-3 p {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0.5rem;
    color: white !important;
    display: block;
    height: 1.3rem;
    line-height: 1.3rem;

}
.k-line2 {
    display: inline-block;
    background: #666;
    height: 10px;
    width: 10px;
    opacity: 0;
    border-radius: 50%;
    transform: translateX(-300px);
    background-color: #fdfeff;
    position: relative;
}
.k-square-holder2 {
    width: 2rem;
    float: left;
    height: 1.3rem;
    left: 4.2rem;
    position: absolute;
}
.success_info {
    z-index: 12;
    position: fixed;
    width: 6.86rem;
    height: 6.73rem;
    margin-left: -3.43rem;
    font-size: 0.3733rem;
    left: 50%;
    text-align: center;
    background-image: url(http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPage2_3/img/successJump_bg.png);
    background-size: 100%;
    margin-top: 5rem;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 0.2rem;
}
.loading_text {
    width: 3.1466666666666665rem;
    height: 3.1466666666666665rem;
    left: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 3.1466666rem;
    color: #3cb0fb;
    font-size: 0.25333333333333335rem;
    text-align: center;
    background-image: url(http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPage2_3/img/timeoutBg.png);
    background-size: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.4rem;
}
.loading_text span{
    font-size:0.9066666666666666rem;
    color:white;

}
.loading_gif{
    margin-top:0.5rem;
}
.k-line {
    display: inline-block;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 15px;
    background-color: #4b9cdb;
}
.option{
    text-align:center;
    font-size:0.4333333333333335rem;
    position:fixed;
    top:3.6266666666666667rem;
}
.blue_text{
    color:#3cb0fb;
}
.explain {
    margin-bottom: 0.7rem;
}
.explain p {
    font-size: 0.32rem;
    width: 8.5rem;
    margin: 0 auto;
    line-height:0.6rem;
    color:#666666;
}   