<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>聚好贷</title>
    <meta charset="utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="renderer" content="webkit">

    <meta http-equiv="Expires" CONTENT="0">

    <meta http-equiv="Cache-Control" CONTENT="no-cache">

    <meta http-equiv="Pragma" CONTENT="no-cache">

    <link href="https://jufengmemberimages.oss-cn-beijing.aliyuncs.com/advgames/css/base_all.css" rel="stylesheet" />

    <link href="https://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/css/public.css" rel="stylesheet" />
    <link href="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/css/loading.css" rel="stylesheet" />

    <link href="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPage2/css/questionPage2.css" rel="stylesheet" />

    <script src="https://jufengmemberimages.oss-cn-beijing.aliyuncs.com/advgames/js/jquery.min.js"></script>
      
    <script src="https://dspjubao360.oss-cn-beijing.aliyuncs.com/basejs/common.js"></script>

    <script src="https://dspjubao360.oss-cn-beijing.aliyuncs.com/basejs/pageInit.js"></script>
    <script src="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/public/js/baiduMonitor.js"></script>

    <script src="https://jufengmemberimages.oss-cn-beijing.aliyuncs.com/advgames/js/jquery-1.8.3.min.js"></script>
    <script src="https://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionCity/js/questionCity.js"></script>

    <script src="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPage2/js/questionPage2.js"></script> 

</head>
<body>

    <div class="main" id="main">
        <div class="back">
            <a id="back" value="back">
                <svg t="1537510938699" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1157" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.8rem" height="0.8rem">
                    <defs><style type="text/css"></style></defs>
                    <path d="M328.555136 515.587823l364.265028-364.265028c20.07399-20.049007 20.07399-52.553369 0-72.577393-20.024024-20.049007-52.528386-20.049007-72.577393 0L220.992263 477.971128c-20.024024 20.024024-20.024024 52.528386 0 72.577393 1.578929 1.578929 3.383306 2.83188 5.112534 4.160179 0.300796 0.325779 0.526243 0.701724 0.827039 1.027503l389.877663 389.877663c19.57293 19.57293 51.300418 19.57293 70.873148 0s19.57293-51.300418 0-70.873148L328.555136 515.587823z" p-id="1158">
                    </path>
                </svg>
            </a>
        </div>
        <div class="banner">
            <div class="limit">100000</div>
            <div class="gussTxt">预估额度</div>
       </div>
        <div class="progress">
             
        </div>
        <form  method="post">
            <div class="content">
                <div class="content_tr">
                    <i style="width: 0.10rem;margin-right: 0.2rem;height: 0.5rem;background: #0094ff;display: block;float: left;margin-top: 0.38rem;"></i>
                    <span style="color:#4183eb;">基础信息</span>
                </div>
                <div class="content_tr">
                    <span>贷款金额</span>
                    <div class="choice_select">
                        <!--下拉菜单-->
                        <select name="QID_1" class="y_select" id="money">
                            <option value="请选择" data-value="0">请选择</option>
                            <option value="5千以下" data-value="1">5千以下</option>
                            <option value="5千~1万" data-value="2">5千~1万</option>
                            <option value="1万~2万" data-value="2">1万~2万</option>

                            <option value="2万~5万" data-value="3">2万~5万</option>
                            <option value="5万~20万" data-value="4">5万~20万</option>
                            <option value="20万以上" data-value="4">20万以上</option>
                        </select>
                        <i class="dropdown icon-option"></i>
                    </div>
                </div>
                <div class="content_tr">
                    <span>贷款期限</span>
                    <div class="choice_select">
                        <!--下拉菜单-->
                        <select name="QID_1" class="y_select" id="loanTime">
                            <option value="请选择" data-value="0">请选择</option>
                            <option value="1个月以内" data-value="1">1个月以内</option>
                            <option value="1个月" data-value="2">1个月</option>
                            <option value="3个月" data-value="3">3个月</option>
                            <option value="6个月" data-value="4">6个月</option>
                            <option value="12个月" data-value="4">12个月</option>
                            <option value="24个月" data-value="4">24个月</option>
                        </select>
                        <i class="dropdown icon-option"></i>
                    </div>
                </div>
                <div class="content_tr" id="userName">
                    <span >输入姓名</span>
                    <input class="" type="text" id="name" placeholder="输入姓名" ng-model="name" ng-required="true">
                </div>
                <div class="content_tr y_textCenter y_fontRed y_hide" id="nameError">
                    输入姓名
                </div>
                <div class="content_tr" id="IDcard">
                    <span>身份证号</span>
                    <input class="" type="text" id="ID" placeholder="输入身份证号" ng-model="name" ng-required="true">
                </div>
                <div class="content_tr y_textCenter y_fontRed y_hide" id="IDcardError">
                    请输入身份证号
                </div>
                <div class="content_tr" style="display:none;">
                    <span>居住城市</span>
                    <a href="javascript:;" id="liveCity">北京</a>
                </div>
                <div class="content_tr">
                    <span>最高学历</span>
                    <div class="choice_select">
                        <!--下拉菜单-->
                        <select name="QID_1" class="y_select" id="qualifications">
                            <option value="硕士及研究生以上" data-value="0">请选择 </option>
                            <option value="中专/高中及以下" data-value="1">中专/高中及以下</option>
                            <option value="大专" data-value="2">大专</option>
                            <option value="本科" data-value="3">本科</option>
                            <option value="硕士及研究生以上" data-value="4">硕士及研究生以上 </option>
                        </select>
                        <i class="dropdown icon-option"></i>
                    </div>
                </div>

                <div class="content_tr">
                    <span>工作年限</span>
                    <div class="choice_select">
                        <!--下拉菜单-->
                        <select name="QID_1" class="y_select" id="workTime">
                            <option value="请选择" data-value="0">请选择</option>
                            <option value="5个月以内" data-value="1">5个月以内</option>
                            <option value="6个月~12个月" data-value="2">6个月~12个月</option>
                            <option value="1年~3年" data-value="3">1年~3年</option>
                            <option value="3年~7年" data-value="4">3年~7年</option>
                            <option value="7年以上" data-value="4">7年以上</option>
                        </select>
                        <i class="dropdown icon-option"></i>
                    </div>
                </div>

                <div class="content_tr">
                    <span>您的职业</span>
                    <div class="choice_select">
                        <!--下拉菜单-->
                        <select name="QID_1" class="y_select" id="jobType">
                            <option value="请选择" data-value="0">请选择</option>
                            <option value="上班族" data-value="1">上班族</option>
                            <option value="个体户" data-value="2">个体户</option>
                            <option value="无固定职业" data-value="3">无固定职业</option>
                            <option value="企业主" data-value="4">企业主</option>
                            <option value="学生" data-value="4">学生</option>
                        </select>
                        <i class="dropdown icon-option"></i>
                    </div>
                </div>
                <div class="content_tr">
                    <span>您的收入</span>
                    <div class="choice_select">
                        <!--下拉菜单-->
                        <select name="QID_1" class="y_select"id="revenue">
                            <option value="请选择" data-value="0">请选择</option>
                            <option value="3千以下" data-value="1">3千以下</option>
                            <option value="3千~7千" data-value="2">3千~7千</option>
                            <option value="7千~2万" data-value="3">7千~2万</option>
                            <option value="2万~5万" data-value="3" checked>2万~5万</option>
                            <option value="5万以上" data-value="4">5万以上</option>
                        </select>
                        <i class="dropdown icon-option"></i>
                    </div>
                </div>

                </div>
            <div class="submit">
                <input class="y_btn next" type="button" value="下一步" />
                <input name="MobileNum" value="手机号" type="hidden" id="MobileNum"/>
                <input name="CookiesNum" value="随机cookies" type="hidden" id="CookiesNum" />
                <div class="load-3 " id="loading">
                    <p>正在申请请稍后</p>
                    <div class="k-square-holder2">
                        <div class="k-square4 k-square4a"></div>
                        <div class="k-square4 k-square4b"></div>
                        <div class="k-square4 k-square4c"></div>
                        <div class="k-square4 k-square4d"></div>
                    </div>
                </div>

            </form>
</div>
</body>
</html>
