* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /*font-size: 16px;*/
}

body {
	
}

a {
    text-decoration: none;
    color: black;
}

.clear {
    clear: both;
}


/*index页面nav底部边框*/

.m-navbar:after {
    /*border-bottom: none;*/
}
#emContact{
	margin-bottom:0px;
	
}

/*按钮*/

.btn-block {
    background-color: #F68B1D;
    border-radius: 0%;
    line-height: .9rem;
    height: .9rem;
    color: #ffffff;
    font-size: .28rem;
    font-weight: 500;
    margin-top: 0px;
}

.p-footer{
	color: #F68B1D;
 	margin-top: .2rem;
 	font-size: 12px;
}


/*s申请页面*/

.g-flexview {
    max-width: 100%;
    min-width: auto;
}


/*placeholder*/

::-webkit-input-placeholder {
    color: #BDC0C5;
    font-size: 14px;
    font-weight: 500
}

:-moz-placeholder {
    color: #BDC0C5
}

::-moz-placeholder {
    color: #BDC0C5;
}

:-ms-input-placeholder {
    color: #BDC0C5
}


/*首页*/

.navconent {
    padding-left: .3rem;
    width: 40%
}

#index-station {
    color: #F68B1D;
    font-weight: 400;
    font-size: .3rem;
}

.icon-down {
    width: .3rem;
    height: .3rem;
    margin-left: 2px;
}

.index-right {
    width: .4rem;
    height: .4rem;
    color: #F68B1D;
    margin-right: .4rem;
}

.index-text {
    text-align: center;
}

.index-text .tab {
    font-size: .3rem;
    color: #444444;
    font-weight: 600;
    margin-top: .35rem;
}

.index-text img {
    display: inline-block;
    margin-top: 22px;
    height: .07rem;
}

.index-text .m-grids-2 .grids-item:not(:nth-child(2n)):before {
    border-right: none;
}

.index-text .m-grids-2:before,
.m-grids-3:before,
.m-grids-4:before {
    border-bottom: none;
}

.grids-item:after {
    border-bottom: none
}

.index-text .m-grids-2:before,
.m-grids-3:before,
.m-grids-4:before,
.m-gridstitle:after {
    border-bottom: none;
}

.span-important {
    font-size: .45rem;
    font-weight: 600;
    font-family: "DINAlternate-Bold";
    color: #F68B1D
}

.span-date {
    font-size: .2rem;
    color: #999999;
    display: inline-block;
    text-align: left;
    margin-top: 11px;
}

.index-page .btn-block {
    margin-top: .3rem;
    height: 1rem;
    border-radius: 0%;
    background-color: #F68B1D;
    font-size: .3rem;
    font-weight: 500;
}

.index-page {
    padding: 0rem .6rem;
    padding-bottom: 30px; 
}

.grids-left {
    text-align: left;
}
.grids-center {
    text-align:center;
}

.grids-right {
    text-align: right;
}

.index-footer {
    height: 80px;
}


/*注册页面*/

.m-slider {
    margin-bottom: 10px;
    -moz-box-shadow: 0px 12px 0px #f7f7f7;
    box-shadow: 0px 12px 0px #f7f7f7;
}

.register-page {
    margin-bottom: 0px;
}

.register-items {
    margin: 0rem .4rem;
    line-height: 1.2rem;
    border-bottom: 1px solid #f7f7f7;
}

.register-items input {
    border: none;
    height: 1.2rem;
    width: 100%;
}

.register-error {
    color: red;
    display: none;
}

#v_container {
    vertical-align: middle;
    margin-top: 10px;
}

.register-page .cell-item:not(:last-child):after,
.register-page:after {
    border-bottom: none;
}

.register-page .note-last {
    border-bottom: none;
}

.register-page #J_GetCode {
    color: #F78E1F;
    font-size: .25rem;
}

.register-btn {
    padding: .5rem .4rem 0rem .4rem;
    background-color: #faf8f3
}

.register-footer {
    font-size: .25rem;
    color: #BDC0C5;
    margin-top: .1rem;
    padding-bottom: .1rem;
}

.register-footer a {
    color: #F68B1D
}


/*借款申请*/
#creditCard, #emMobile{
	margin-bottom: 0px !important;
}

.lower-message .m-cell {
    margin-bottom: 0rem;
}

.g-flexview {
    margin: 0px;
}

.loan-basic {
    height: 30px;
    background-color: #faf8f3;
    line-height: 30px;
    padding-left: .2rem;
}

.loan-basic .cell-left {
    color: #999999;
    font-size: .25rem;
    font-weight: 500
}

.loan-concat {
    padding: 0rem .4rem;
}

.loan-concat .cell-item {
    height: 57px
}

.loan-concat .cell-left {
    font-size: .25rem;
    color: #999
}

.select-loan {
    width: 100%
}

.loan-concat .cell-item:not(:last-child):after,
.m-cell:after {
    border-bottom: 3px solid #f7f7f7;
}

#J_ShowActionSheet {
    width: 100%;
    height: 100%;
    border: none;
}

.cell-arrow:after {
    /*font-size: .3rem ;*/
}

.m-cell:after {
    border-bottom: none;
}

.loan-submit {
    background-color: #faf8f3;
    padding: .5rem .4rem;
}


.g-scrollview:after {
    height: 0rem
}


/*选择城市*/

.now-ofcourse {
    height: 40px;
    padding-left: .4rem;
    background-color: #faf8f3;
    line-height: 40px
}

.now-city {
    height: .8rem;
    line-height: .8rem;
    padding-left: .4rem;
}

.choose-hot {
    padding: .2rem .4rem;
    text-align: center;
}

.choose-hot span {
    font-size: .3rem;
    border: 1px solid #f2f2f2;
    padding: .2rem;
    display: inline-block;
    margin: .2rem
}

#showView li {
    font-size: .4rem;
}

#J_ShowActionSheet {
    padding-left: .2rem;
}

.loan-concat .cell-right input {
    width: 100%;
    height: 100%;
    padding-left: .1rem;
    color: #000000;
    font-size:.26rem;
}


/*个人中心*/

.persion-choose {
    padding: 0rem .2rem;
}

.persion-choose .cell-left {
    font-size: .26rem
}

#persion-celled {
    padding: 1rem 0rem 0rem 0rem;
}


/*个人信息*/

.tab-nav-item:not(:last-child):after {
    border-right: none;
}

.tab-nav:after {
    border-bottom: none;
}

.tab-nav-item.tab-active:before {
    width: 100%;
    background-color: #F68B1D;
    left: 35%
}

.tab-concat {
    padding-top: 10px;
    background-color: #faf8f3
}


/*授权声明*/

.title-tab {
    font-size: .3rem;
    font-weight: 600;
    text-align: center;
    color: #444444;
    margin-top: .5rem;
}

.g-text {
    padding: 0rem .4rem;
    font-size: .26rem;
    color: #444444;
    line-height: 25px;
}

.g-text:before {
    height: .4rem;
}

.g-text div {
    margin-bottom: .3rem;
}

.g-text:after {
    height: .5rem;
}


/*我的借款*/

.tab-message .tab-nav-item.tab-active {
    color: #F68B1D
}

.wallet {
    margin-bottom: 15px;
    background-color: #fff;
}

.wallet .m-grids-2:before {
    border-bottom: none;
}

.wallet .m-grids-2 .grids-item:not(:nth-child(2n)):before {
    border-right: none;
}

.wallet .grids-item {
    padding: 0rem;
}

.wallet .grids-txt {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
}

.wallet-name {
    font-size: .3rem;
}

/*.wallet-img {
    background-image: url("../img/Page 1.png");
    background-size: cover;
    display: inline-block;
    width: 1.3rem;
    height: .5rem;
    vertical-align: middle;
    margin-left: 10px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    line-height: .5rem;
    color: #fff;
}*/
.wallet-img {
    background-color: #F68B1D;
    color: #fff;
    height: .5rem;
    padding: .1rem .3rem;
    margin-right: .2rem;
}

.span-limit {
    font-size: .45rem;
    font-weight: 600;
    font-family: "DINAlternate-Bold";
}

.wallet .limit-wallet .m-grids-2 .grids-item:not(:nth-child(2n)):before {
    border-right: 1px solid #ececec;
}

.limit-wallet {
    margin: 0px 5px;
    border-top: 1px solid #ececec;
    padding: 10px 0px;
}

.wallet .grids-month {
    padding-left: 0rem;
}

.span-dated {
    color: #b9b9b9;
    font-size: .2rem;
    display: inline-block;
    text-align: left;
    margin-top: 11px;
}

.wallet-date {
    color: #b9b9b9;
}

.select-img {
    width: 20px;
    height: 20px;
}

.cell-item {
    position: relative
}

.cell-select {
    width: 100%;
    position: absolute;
    padding-left: 1.2rem;
    left: 0px;
    font-size:.26rem;
    color:#000000
}

.cell-select option {
    padding-left: 0px;
}

#J_ShowActionSheet {
    width: 100%;
    position: absolute;
    padding-left: 1.1rem;
    left: .18rem;
    top: 0px
}

.loan-input input[type="text"] {
    padding-left: 0px;
    height: 100%;
}

.relation {
    padding-left: 1.5rem;
}

.auth-content {
    padding: 18px 0px 15px 0px;
    background-color: #F5F5F5 !important;
    height: 100%;
    margin-top: 40px;
}
.content {
    background-color: #F5F5F5 !important;
    height: 100%;
    margin-top: 45px;
}

.m-cell {
    padding: 10px;
}

.no-cell-border:after {
    border: none !important;
}

.no-cell-border:before {
    border: none !important;
}

.cell-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.cell-menu {
    font-size: .28rem
}

.cell-desc {
    color: #999999;
    font-size: .24rem
}

.status {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.status img {
    height: 60px;
    display: inline-block !important;
}

.status .text {
    width: 70%;
    margin: 0 auto
}

.status .title {
    font-size: 15px;
    margin: 5px;
}
.status .money {
    font-size: .6rem;
    color:#F68B1D 
}
.money {
    font-size: .6rem;
    color:#F68B1D 
}
.status .warn {
    color: #e74c3c;
    font-size: .3rem;
    margin: 5px;
}
.status .primary {
    color: #F68B1D;
    font-size: .5rem;
    margin: 5px;
}

.status .des {
    font-size: 12px;
    margin: 5px;
}

.info {
    font-size: 10px;
    color: #999999;
    text-align: center;
    margin: .2rem
}

.cell-center {
    text-align: center;
    display: block !important;
    font-size: 15px;
    padding: 0 0 .2rem 0;
}

.detail {
    padding: 10px 0px 0px 0px !important;
}

.detail-title {
    width: 50%;
    text-align: left;
}

.details-desc {
    width: 50%;
    text-align: right;
}

.cell-item-low {
    height: .6rem;
    min-height: 0.5rem;
}

.cell-often{
 	min-height: 0rem !important;
}

.sign-submit {
    padding: .1rem .4rem;
    text-align: center;
}

.sign-footer {
    font-size: .25rem;
}

.cell-input {
    margin-left: 0rem
}

.btn-send {
    color: #F78E1F;
    font-size: .28rem;
}
.btn-send-block { 
    background-color: #F78E1F;
    border-radius: 0%;
    line-height: .6rem;
    height: .6rem;
    color: #ffffff;
    font-size: .28rem;
    font-weight: 500;
    margin-top: 0px;
    min-width: 1.6rem;

}

.btn-warn {
    color: #e74c3c;
    font-size: .28rem;
}
.btn-clear {
    color: #04BE02;
    font-size: .28rem;
}

.btn-warn-block { 
    background-color: #e74c3c;
    border-radius: 0%;
    line-height: .6rem;
    height: .6rem;
    color: #ffffff;
    font-size: .28rem;
    font-weight: 500;
    margin-top: 0px;
    min-width: 1.6rem;
}
.btn-disabled-block { 
    background-color: #5C5C5C;
    border-radius: 0%;
    line-height: .6rem;
    height: .6rem;
    color: #ffffff;
    font-size: .28rem;
    font-weight: 500;
    margin-top: 0px;
    min-width: 1.6rem;
}
.pay-money {
    margin-left: .2rem;
}
.due-msg {
    color:#e74c3c;
    margin-right: .2rem;
}

.city-button{
    font-size: .26rem;
    text-align: left;
}

select.select-month {
   text-align: right;
   direction: rtl;
   padding-right:.2rem;
   color: #525252 !important;
   font-size: .26rem;
   
}

.hint {
	text-align:justify;	
	padding: .2rem .4rem;
	font-size:.23rem;
	color: #5C5C5C;
}
.hint .title {
	color: #F68B1D;
	font-size:.25rem;
	line-height: .3rem;
}
.message-timershaft{
     width: 100%;

 }
 .message-timershaft img{
     width: 100%;
     margin: 0 auto;
 }
/* popup */
div.mui-picker{
    background-color: #fff;
}
.mui-poppicker-btn-ok{
    background-color: #ff7676;
    border: 1px solid #ff7676
}

/* 时间轴 */

.timer-desc{
    text-align: center;
    font-size: .25rem;
    color: #999999;
    background-color: #ebebeb;
    width: 100%;
}
.timer-desc p{
    border-top: 1px solid  #bbbbbb;
    width: 90%;
    margin: 0 auto;
    padding: .2rem 0rem;
    font-family: 'PingFang-SC-Medium'
}
.timer-desc span{
    color: #ff7676
}
/* 基本信息 ui3*/
/* 头部 */
.loantab-mes .loan-basic{
    background-color: #fff;
    border-bottom: 1px solid #f7f7f7
}
/* 左边图标 */
.form-div{
    font-family:'PingFang-SC-Medium'
}
.form-div .cell-left{
	width:2.2rem;
}
.form-div .messageicon-text{
    width: .4rem;
}
.form-div .messageicon-text img{
    margin-top: 3px;
    width: 100%;
}
/* 右边图标 */
.selectright-imginput{
    margin-top: 0px;
    width: .4rem;
    height: .4rem;
}
.selectright-img {
    width: .4rem;
    height: .4rem;
  
}
.loanmessage .cell-arrow:after{
    display: none;
}
/* 按钮 ui3 */
.next-loan{
    width: 80%;
    margin: .4rem auto;
    
}
.next-loan .btn-block {
    background-color: #ff7676;
    border-radius: .2rem;
}
/* 底部边框 */
div.loan-concat .cell-item:not(:last-child):after,
.m-cell:after {
    border-bottom: none;
}
.loanmessage .cell-item{
    padding-right: .4rem;
    border-bottom: 1px solid #f7f7f7
}
/* =---------- */
.loan-basic .message-tabicon span{
    font-size: .25rem;
    color: #000000
}
.message-tabicon .cell-icon{
    width: 10px;
    margin-right: .16rem;
}
.message-tabicon .cell-icon img{
    margin-top: 5px;
    margin-right: 0px;
    height: 20px
}
.form-div .loanmessage {
    padding:0rem 0rem 0rem .4rem;
}
.form-div .loanmessage .cell-left{
    font-size: .3rem;
    color: #999999
}
.form-div .loanmessage .cell-input{
    margin-bottom: 0px;
    border: none;
}
.form-div .loanmessage .city-right{
    width: 60%;
}
.form-div .loanmessage #J_ShowActionSheet{
    padding-left: 0px;
    margin-left: 2rem
}
.back-tabnext{
    background-color: #ebebeb;
    padding-bottom: .3rem;
    padding-top: .3rem
}
/* 信息分类显示 */
/* .basic-message,  */

div.verify-soult{
    margin-top: 0px;
}
/* 下拉信息 ui3*/
.form-div .loanmessage .mui-content{
    /* width: 100%; */
    background-color: #fff !important;
}
.form-div .loanmessage .mui-content-padded{
    width: 100%;
    height: 1rem;
    margin: 0px;
    z-index: 100
}
.mui-content #showUserPicker{
    height:1rem;
    text-align: right;
    line-height: 1rem;
}
.form-div .loanmessage .select-popup{
    height: 100%;
    line-height: 1rem;
    font-size: .3rem; 
    text-align: left !important;
    padding-left: 0rem;
}
.form-div .loanmessage .select-popup select{
	padding-left: 0px;
}
.name-basic{
    padding-left: .6rem !important;
}
#jobincome{
    padding-left: 0rem;
}
#jobincome select{
	padding-left: 0px;
}
.form-div .loanmessage #J_ShowActionSheet{
    width: 60%
}

.back-tabnext{
    background-color: #ebebeb;
    padding-bottom: .7rem;
    padding-top: .3rem; 
    text-align: center;
}
.back-tabnext div{
    display: inline-block;
    position: relative;
    text-align: center;
}
.back-tabnext div span{
    position: absolute;
    top: -10px;
    left:.2rem;
    width: 100px;
    font-size: .2rem !imporant;
}
.back-tabnext p{
    position: absolute;
    top: .5rem;
    left: -40px;
    width: 100px;
}
.back-tabnext span{
    display: inline-block;
}
.back-tabnext .timer-one{
    width: 5%;
    height: 2px;
}
.back-tabnext .timer-two{
    width: 20%;
    height: 2px;
    
    margin-left: -5px;
}
.back-tabnext .timer-three{
    width: 20%;
    height: 2px;
    
    margin-left: -5px;
}
.back-tabnext .timer-four{
    width: 20%;
    height: 2px;
    background-color: #b6b6b6;
    margin-left: -5px;
}
.back-tabnext .timer-five{
    width: 5%;
    height: 2px;
    background-color: #b6b6b6;
    margin-left: -5px;
}
.back-tabnext img{
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    margin-left: -5px
}
.basic-messagebtn .button{
	padding: 0px;
	
}
.cell-arrow:after{
display: none;
}
.loanmessage .cell-item{
position: relative
}
.imgiconup{
display: none;
width: .4rem;
height: .4rem;
position: absolute;
top: .3rem;
right: .4rem;
}
.selectright-img {
width: .4rem;
height: .4rem;
position: absolute;
top: .3rem;
right: .4rem;
}
.job-earning{
	 padding-left: 0px !important;
	
}





.index_p{
padding-top: .2rem;
color: #000;
font-size: 12px;
}
.index_img{
text-align: left;
position:relative;
top:-0.2rem;
}
.empty_index{
display: inline-block;
width:.2rem;
}
.index_img img{
display: inline-block;
width: 1rem;
height: .3rem;
}




 /* 完成弹窗 */
.back-color{
    background-color: #000;
    opacity: .7;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    display: none;
    z-index: 110
}
.open-window .small-first{
	position: absolute;
    top: .4rem;
    left: 0px;
    right: 0px;
    height: .8rem;
    line-height: .8rem;
    color: #c53123;
    font-weight: 600;
    font-size: 16px;
    z-index: 2
    
}
.open-window {
    position: fixed;
    width: 80%;
    left: 10%;  
    z-index: 200;
    text-align: center;
    display: none; 
}
.open-window p{
    color: #000;
}
.window_small{
    overflow: hidden;
    padding-bottom: 0px;
    width: 100%;
    margin: 0 auto;
    background-color: #ff3f3e;
    padding: .2rem ;
    border-radius: .2rem;
    z-index: 1000000;
}
.section_title{
    font-size: .25rem;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: .1rem .15rem;
    vertical-align: middle;
    text-align: left;
    border-bottom: 1px solid #ededed;
}
.section_title img{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    
}
.window_section{
    overflow: auto;
    min-height: 100px;
    max-height: 350px;
    background-color: #fff;
}
.window_list_loan{
    position: relative;
    margin: 0px .2rem;
    padding: .2rem 0px;
    border-bottom: 1px solid #eeeeee;
    min-height: 80px;
}
.window_list_loan div{
    float: left;
    width: 20%;
}
.window_list_loan div img{
    width: 100%;
}
.window_list_loan div:nth-child(2){
    text-align: left;
    width: 50%;
    padding-left: .3rem;
}
.window_list_loan div:nth-child(2) p{
    position: absolute;
    bottom: .2rem;
    left: 25%;
    color: #c3a76c;
}
.window_list_loan div:nth-child(2) p:nth-child(1){
    position: absolute;
    top: .2rem;
    left: 25%;
    color: #000;
    font-size: .3rem;
    margin-bottom: .2rem;
}
.window_list_loan div:nth-child(2) p:nth-child(2) span{
    display: block;
    font-size: .21rem;
}
.window_list_loan div span{
    font-size: .3rem;
}
.window_list_loan div:nth-child(3){
    position: absolute;
    bottom: .2rem;
    right: 0px;
    width: 30%;
}
.window_list_loan div:nth-child(3) span{
    display: inline-block;
    width: 90%;
    font-size: .3rem;
    background-color: #ff7778;
    border-radius: .5rem;
    padding: .1rem .2rem;
    color: #ffe3de
}
.window_game span{
    display: inline-block;
    font-size: .25rem;
    padding: 0.06rem .3rem;
    background-color: #fff;
    border-radius: .5rem;
    margin-bottom: .2rem;
}
.head_window{
    margin: 0 auto;
    text-align: center;
}
.head_window p {
    display: inline-block;
    color: #fffbeb;
    font-size: .3rem;
    text-align: center;;
}
.head_window p:nth-child(2) span{
    display: block;
    margin-bottom: .15rem;
}
.head_window p:nth-child(2) span:nth-child(2){
    font-size: .22rem;
}
.head_window p img{
    width: 44px;
    margin-right: 0px;
}
#errorMessage{
	margin: .1rem 0 ;
	text-align: left;
}
.popup_window{
    display: none 
  }
.back{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    background-color: #000000;
    opacity: .5;
    z-index: 100
}
.imgfloat{
    position: fixed;
    width: 60%;
    z-index: 120
}
.window_error{
    display: inline-block;
    margin-top: .5rem;
    font-size: .8rem;
} 