
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>聚好贷</title>
    <meta charset="utf-8" />

    <meta name="keywords" content="">

    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="renderer" content="webkit">

    <meta http-equiv="Expires" CONTENT="0">
    <link href="https://jufengmemberimages.oss-cn-beijing.aliyuncs.com/advgames/css/base_all.css" rel="stylesheet" />
    <link href="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPageIndex_zt/css/questionPageIndex_zt-1.css" rel="stylesheet" />
    <script src="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/public/js/common.js"></script>
    <script src="https://dspjubao360.oss-cn-beijing.aliyuncs.com/basejs/pageInit.js"></script>
    <script src="http://jufengmemberimages.oss-cn-beijing.aliyuncs.com/advgames/js/angular.min.js"></script>
    <script src="http://jufengmemberimages.oss-cn-beijing.aliyuncs.com/advgames/js/angular-cookies.min.js"></script>
    <script src="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/public/js/baiduMonitor.js"></script>
    <script src="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPageIndex_zt/js/questionPageIndex_zt.js"></script>
</head>
<body ng-app="myapp">
    <div class="main" ng-controller="abc">
   aaa
        <div class="logoList">
            <form name="myForm" novalidate>
                <div class="userTxt">
                    <span>
                        <img src="https://jufengmemberimages.oss-cn-beijing.aliyuncs.com/aggregationPage/jhd/q1/questionPageIndex/img/phone.png" />
                    </span>
                    <input type="tel" id="tel" placeholder="请输入手机号码" ng-model="tels" ng-required="true">
                </div>

                <div class="getImgInfo">
                    <div class="telTxt">
                        <span>

                            <img src="https://jufengmemberimages.oss-cn-beijing.aliyuncs.com/aggregationPage/jhd/q1/questionPageIndex/img/safe.png" />
                        </span>
                        <input type="number" id="imgTxt" placeholder="请输入验证码" ng-model="checkTxt" />
                    </div>
                    <div class="getTxt" ng-show="!disable">
                        <span ng-click="getTxt()">获取验证码</span>
                    </div>
                    <div class="getTxt" ng-show="disable" style="color:darkgray;border:1px solid darkgray">
                        <span ng-show="disable" style="color:white;font-size:0.37rem;">{{haveTime}}</span>
                    </div>
                </div>

                <div class="sigInBtn">
                    <input ng-class="gray" ng-click="signIn()" value="登 录" type="button" ng-show="submit" />
                    <div class="load-3 " id="loading" ng-show="!submit">
                        <p>正在登录请稍后</p>
                        <div class="k-square-holder2">
                            <div class="k-square4 k-square4a"></div>
                            <div class="k-square4 k-square4b"></div>
                            <div class="k-square4 k-square4c"></div>
                            <div class="k-square4 k-square4d"></div>
                        </div>
                    </div>
                </div>
                <div class="userAgreement">
                    <div class="agreement">
                        <label>
                            <input type="checkbox" ng-model="chk">我同意《<a href="http://ju.jubao360.cn/s/usercontract.html">用户注册服务协议</a>》
                        </label>
                    </div>
                </div>
        </div>
        <div class="weChat">
            <div class="weChat_left">
                    <img src="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPageIndex_zt/img/weerweima.jpg" ng-click="erWeimaIsShow(0)"/>

                <span>扫一扫 加关注</span>
            </div>
            <div class="weChat_right" >
                <span class="weBig_font"style="margin-bottom: 0.05rem;margin-top: 0.15rem;">聚金口袋</span>
                <span class="weSmall_font">ID: jujinkoudai</span>
                
                <span class="weSmall_font"style="margin-bottom: 0.3rem; margin-top: 0.3rem;">微信扫码加公号，更多产品任你选！</span>
                <span class="float_tab">微额贷 · 大额贷 · 信用卡贷款</span>
            </div>
        </div>
        <div class="imgShow" ng-show="imgIsshow" ng-click="erWeimaIsShow(1)">
            <img src="http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPageIndex_zt/img/weerweima.jpg" />
        </div>
        </form>
        <div class="infor_font gray_color ICP">
            聚信互联（北京）科技有限公司
            <br>
            京ICP备13038054号-1
        </div>    </div>
 
</body>
</html>

