 
*{
    margin:0;
    padding:0;
}
body,html{
    background:#4281ea;
}
.main {
    width: 10rem;
    height: 15.6rem;
    margin: 0 auto;
    background: url('http://daijubao360cn.oss-cn-beijing.aliyuncs.com/questionPage/questionPageIndex_zt/img/indexBg2.jpg');
    background-size: 100%;
}
.logoList{
    width:9.2rem;
    height:8.6rem;
    margin:0 auto;
    position:relative;
    border-radius:10px;
    top: 5.566666666666666rem;
}
.userTxt {
    width: 8.56rem;
    height: 1.32rem;
    background: white;
    border-radius: 0.15rem;
    margin: 0 auto;
    position: relative;
    top:1.0666666666666667rem;
    margin-bottom:0.5rem;
    overflow:hidden;
}
.userTxt input {
    width: 6.666666666666667rem;
    height: 1rem;
    line-height: 1rem;
    border: 0;
    position: relative;
    left: 1.5466666666666667rem;
    display:block;
    top:50%;
    margin-top:-0.5rem;
    font-size: 0.37333333333333335rem;
    background: white;
    outline: none;
    text-indent: 0.15rem;
}
.userTxt span {
    border-right: 0.012rem solid #cccccc;
    width: 1.3333333333333333rem;
    height: 0.8rem;
    background: white;
    display: block;
    position: absolute;
    /* left: 0.2666666666666667rem; */
    top: 50%;
    margin-top: -0.4rem;
}

.userTxt span img{
    width: 0.68rem;
    position: relative;
    display: block;
    top: 0;
    margin: 0 auto;
    padding: 0;
    margin-top: 0.06rem;

}
input:focus{

}

.telTxt {
    width:5.5013333333333333rem;
    height: 1.32rem;
    background: white;
    border-radius: 0.15rem;
    position: relative;
    float: left;

}
.getImgInfo {
    width: 8.56rem;
    height: 1.32rem;
    border-radius: 0.15rem;
    margin: 0 auto;
    position: relative;
    top: 0.89133333333333334rem;
    overflow: hidden;
    background: white;
}
.getTxt {
    width: 2.5933333333333335rem;
    height: 1.033333333333333rem;
    float: left;
    border-radius: 0.2rem;
    position: absolute;
    background: #417fd4;
    right: 0.2rem;
    top: 0.15rem;
}
.getTxt span {
    font-size: 0.37333333333333335rem;
    color: white;
    text-align: center;
    line-height: 1.033333333333333rem;
    width: 2.5933333333333335rem;
    display: block;
}
.telTxt input {
    width: 6.666666666666667rem;
    height: 1rem;
    line-height: 1rem;
    border: 0;
    position: relative;
    left: 1.5466666666666667rem;
    display:block;
    top:50%;
    margin-top:-0.5rem;
    font-size: 0.37333333333333335rem;
    background: white;
    outline: none;
    text-indent: 0.15rem;
}
.telTxt span img{
    width: 0.68rem;
    position: relative;
    display: block;
    top: 0;
    margin: 0 auto;
    padding: 0;
    margin-top: 0.06rem;
}
.telTxt span {
    border-right: 0.012rem solid #cccccc;
    width: 1.3333333333333333rem;
    height: 0.8rem;
    background: white;
    display: block;
    position: absolute;
    /* left: 0.2666666666666667rem; */
    top: 50%;
    margin-top: -0.4rem;
}

.sigInBtn {
    position: relative;
    top: 1.833333rem;
    width: 8.56rem;
    margin: 0 auto;
}
.sigInBtn input {
    text-align: center;
    width: 8.566666666666667rem;
    height: 1.3rem;
    line-height:1.3rem;
    border: 0;
    position: relative;
    top: 0.09333333333333334rem;
    font-size: 0.50333333333333335rem;
    outline: none;
    margin: 0 auto;
    display: block;
    border-radius: 0.15rem;
    -webkit-border-radius:0.15rem;
    color: white;
    background: #0155b6;
}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
.userAgreement {
    position: relative;
    top: -0.15rem;
    left:0.0592rem;
    width:8.566666666666667rem;
    color: white;
     margin: 0 auto; 
    height: 0.6133333333333333rem;
    font-size: 0.32rem;
    line-height: 0.6133333333333333rem;
}
input[type="checkbox"] {
    -webkit-appearance: none; /*清除复选框默认样式*/
    background: #fff url('http://jufengmemberimages.oss-cn-beijing.aliyuncs.com/aggregationPage/jhd/q1/questionPageIndex/img/ridao.png'); /*复选框的背景图，就是上图*/
    height: 0.29333333333333333rem; /*高度*/
    vertical-align: middle;
    width: 0.29333333333333333rem;
    background-size: 100%;
    outline: none;
    box-shadow: none;
    margin-right: 0.12rem;
    border-radius: 0.05333333333333334rem;
}
.agreement a {
    color: white;
    text-decoration: none;
}
input[type="checkbox"]:checked {
  background-position:0 -0.30rem;
  outline:none;
  box-shadow:none;
  background-size:100%;
}
.sigInBtn .gray{
    background:#eeeeee;
}
.sigInBtn .blue{
    
}
.logoin_option{
    color: white;
    font-size: 0.48rem;
    text-align: center;
    position: absolute;
    top: 3.8rem;
    width: 100%;
}
.load-3 {
    overflow: hidden;
    text-align: center;
    width: 8.566666666666667rem;
    height: 1.3rem;
    line-height: 1.3rem;
    border: 0;
    position: relative;
    top: 0.093333rem;
    font-size: 0.50333333333333335rem;
    outline: none;
    margin: 0 auto;
    border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    color: white;
    background: #8f8f8f;
    text-decoration: none;
}
.load-3 p {
    position: absolute;
    top: 0.4rem;
    width: 100%;
    overflow: hidden;
    line-height: 0.5rem;
    color: white !important;
    color: white;

}
.k-line2 {
    display: inline-block;
    background: #666;
    height: 10px;
    width: 10px;
    opacity: 0;
    border-radius: 50%;
    transform: translateX(-300px);
    background-color: #fdfeff;
    position: relative;
}
.k-square-holder2 {
    /* margin-left: 25%; */
    width: 2rem;
    float: right;
}
